@import 'color.css';

.problem-title {
  height: 52px;
  line-height: 52px;
}

.problem-list {
  list-style-type: disc;
  padding-left: 20px;
}

.problem-item:hover {
  background-color: $border-maincolor;
}

.problem-item-link {
  height: 36px;
  line-height: 36px;
  margin-top: 10px;
  display: block;
}
